# Files and folders to be ignored by git

# IntelliJ specific files and folders
.idea/
*.iml
out/
*.iws
*.ipr

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Mac OS ###
.DS_Store